@model MVCMusicStoreApplication.Models.Album

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <br />
    <h4>Details</h4>
    <hr />

    <p>@Html.DisplayFor(model => model.Title)</p>

    <p><img src="@Html.DisplayFor(model => model.AlbumArtUrl)" /></p>

    <p>@Html.DisplayNameFor(model => model.Artist.Name): @Html.DisplayFor(model => model.Artist.Name)</p>

    <p>@Html.DisplayNameFor(model => model.Price): @Html.DisplayFor(model => model.Price)</p>
</div>
<button>
    @Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCart", new { id=Model.AlbumId }, null)
</button>